#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

menu "Realtek Common Module Stream"
config REALTEK_COMMON_MODULE_STREAM
    bool "Enable Realtek Common Module Stream"
    default n
    help
        Realtek common module stream support.
endmenu