#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#
if BOARD_RTL87X3G_SAMPLE

config BOARD
	default "rtl87x3g_sample"

endif #BOARD_RTL87X3G_SAMPLE
