#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

config BOARD_RTL87X3G_WATCH
	select SOC_RTL8773GTP if BOARD_RTL87X3G_WATCH_RTL8773GTP
	select SOC_RTL8773GTP if BOARD_RTL87X3G_WATCH_RTL8773GTP_NANDBOOT
	select SOC_NAND_BOOT if BOARD_RTL87X3G_WATCH_RTL8773GTP_NANDBOOT
	select SOC_RTL8783GBF if BOARD_RTL87X3G_WATCH_RTL8783GBF
