/*
 * Copyright (c) 2026, Realtek Semiconductor Corporation
 *
 * SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
 */

/ {
    chosen {
        zephyr,console = &uart2;
        zephyr,shell-uart = &uart2;
    };
};

/* Zephyr shell / console UART (pins come from the board's uart2_default) */
&uart2 {
    status = "okay";
    current-speed = <921600>;
};
