#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

rsource "app_gfps/Kconfig"
rsource "findmy/Kconfig"
rsource "mfb/Kconfig"
rsource "key_button/Kconfig"
rsource "wifi_8711/Kconfig"