#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

config GSENSOR_STK8321
	bool "Enable gensor stk8321"
	default n
	depends on HUB_GSENSOR
help
	This config for enable gsensor stk8321