#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

menu "Realtek Common Module RTK Charger"
config REALTEK_COMMON_MODULE_RTK_CHARGER
    bool "Enable Realtek Common Module RTK Charger"
    default n
    help
        Realtek common module RTK charger support.
endmenu