#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

rsource "app/Kconfig"
rsource "comm/Kconfig"
rsource "dev/Kconfig"
rsource "event_bus/Kconfig"
rsource "gui/Kconfig"
rsource "hub/Kconfig"
rsource "module/Kconfig"
rsource "shell_app/Kconfig"
rsource "dev/Kconfig"
